@mixin control {
	color: white;
	background: #666;
}

@mixin control_down {
	background: red;
}

[data-com] {
	@include control;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 14px;
	user-select: none;

	/* Button */
	&.button {
		border: 1px outset #ccc;
		border-radius: 3px;

		&:hover.down {
			@include control_down;
		}
	}

	/* List */
	&.list {
		list-style: none;
		margin: 0;
		padding: 0;

		.list-item {
			text-align: center;
		}
	}

	/* Checkbox */
	&.checkbox {
		&.down {
			outline: 1px solid blue;
		}
	}
}
