@mixin bevel($width: 1px) {
    border-radius: $width;
    border-top: $width solid #666;
    border-left: $width solid #666;
    border-bottom: $width solid #444;
    border-right: $width solid #444;
    box-shadow: 0 0 5px #000;
}