@mixin bevel($width: 1px) {
    border-radius: $width;
    border-top: $width solid #eeeeee6e;
    border-left: $width solid #aaaaaa71;
    border-bottom: $width solid #44444471;
    border-right: $width solid #4444446e;
}

@mixin raised($width: 1px) {
    @include bevel($width);
    box-shadow: 0 0 5px #000;
}