@mixin control {
	display: inline-block;
	position: relative;
	color: white;
	background: #666;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 11px;
	user-select: none;
	transition: opacity 150ms ease-in-out, background 150ms ease-in-out, outline 100ms linear;
	cursor: pointer;

	&:focus {
		outline: 1px solid rgba(0, 255, 255, 0.3);
	}

	&:hover {
		background: #777;
	}

	&.down {
		background: #666;
	}

	&.toggled {
		background: #888;
	}

	&.down.toggled {
		background: #555;
	}

	&.disabled {
		opacity: 0.35;
		color: #ccc;
		font-style: italic;
	}
}