[data-com] {
  color: white;
  background: #666;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  user-select: none;
  /* Button */
  /* List */
  /* Checkbox */ }
  [data-com].button {
    border: 1px outset #ccc;
    border-radius: 3px;
    width: 50px; }
    [data-com].button:hover.down {
      background: red; }
    [data-com].button.toggled {
      background: green; }
  [data-com].list {
    list-style: none;
    margin: 0;
    padding: 0; }
    [data-com].list .list-item {
      text-align: center; }
  [data-com].checkbox.down {
    outline: 1px solid blue; }
  [data-com].flow-layout {
    display: flex;
    outline: 1px solid red; }
    [data-com].flow-layout.horizontal {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start; }
    [data-com].flow-layout.vertical {
      height: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start; }
