/* Debug */
/* Button */
/* List */
/* Checkbox */
/* Panel */
.ctl-control {
  color: white;
  background: #666;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  user-select: none;
  /* Debug */
  /* Button */
  /* List */
  /* Checkbox */ }
  .ctl-control.ctl-debug {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px dotted white; }
  .ctl-control.ctl-button {
    border: 1px outset #ccc;
    border-radius: 3px;
    width: 50px; }
    .ctl-control.ctl-button:hover.down {
      background: red; }
    .ctl-control.ctl-button.toggled {
      background: green; }
  .ctl-control.ctl-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .ctl-control.ctl-list .list-item {
      text-align: center; }
  .ctl-control.ctl-checkbox.down {
    outline: 1px solid blue; }
  .ctl-control.ctl-panel {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: nowrap; }
    .ctl-control.ctl-panel.vertical {
      flex-direction: column; }
    .ctl-control.ctl-panel.horizontal {
      flex-direction: row; }
    .ctl-control.ctl-panel.wrap {
      flex-wrap: wrap; }
    .ctl-control.ctl-panel.justify-start {
      justify-content: flex-start; }
    .ctl-control.ctl-panel.justify-end {
      justify-content: flex-end; }
    .ctl-control.ctl-panel.justify-center {
      justify-content: center; }
    .ctl-control.ctl-panel.justify-space-around {
      justify-content: space-around; }
    .ctl-control.ctl-panel.justify-space-between {
      justify-content: space-between; }
    .ctl-control.ctl-panel.justify-space-evenly {
      justify-content: space-between; }
    .ctl-control.ctl-panel.justify-stretch {
      justify-content: stretch; }
    .ctl-control.ctl-panel.align-start {
      align-items: flex-start; }
    .ctl-control.ctl-panel.align-end {
      align-items: flex-end; }
    .ctl-control.ctl-panel.align-center {
      align-items: center; }
    .ctl-control.ctl-panel.align-baseline {
      align-items: baseline; }
    .ctl-control.ctl-panel.align-stretch {
      align-items: stretch; }
