/* Button */
/* Checkbox */
.ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #666;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 11px;
  user-select: none;
  transition: opacity 150ms ease-in-out, background 150ms ease-in-out; }
  .ctrl.button {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-radius: 3px;
    width: 50px;
    height: 20px; }
    .ctrl.button.disabled {
      opacity: 0.35;
      color: #ccc;
      font-style: italic; }
    .ctrl.button.down label, .ctrl.button.toggled label {
      position: relative;
      left: 1px;
      top: 1px; }
    .ctrl.button.down {
      background: #444; }
    .ctrl.button.toggled {
      background: #555; }
    .ctrl.button.down.toggled {
      background: #333; }
  .ctrl.checkbox {
    border: 1px outset #ccc;
    border-radius: 3px;
    width: 20px;
    height: 20px; }
    .ctrl.checkbox svg {
      position: relative;
      left: -1px;
      top: -1px;
      fill: white; }
    .ctrl.checkbox.down svg, .ctrl.checkbox.toggled svg {
      left: 0px;
      top: 0px; }
    .ctrl.checkbox.down {
      background: #444;
      opacity: 0.5; }
    .ctrl.checkbox.toggled {
      background: #555; }
