@import "../shared//bevel.scss";

@mixin accordion {
    @include bevel;

    width: calc(100% - 2px);

    legend {
        color: white;
        background: red;
    }

    .content {
        overflow: hidden;

        &.closed {
            height: 0;
        }
    }
}