/* Button */
@mixin button {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-radius: 2px;
	position: relative;
	padding: 2px 5px;

	label {
		pointer-events: none;
	}

	&.down,
	&.toggled {
		* {
			position: relative;
			left: 1px;
			top: 1px;
		}
	}
}
