/* Panel */
@mixin panel {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
	display: flex;
	flex-wrap: nowrap;

	&.vertical {
		flex-direction: column;
	}

	&.horizontal {
		flex-direction: row;
	}

	&.wrap {
		flex-wrap: wrap;
	}

	&.justify-start {
		justify-content: flex-start;
	}

	&.justify-end {
		justify-content: flex-end;
	}

	&.justify-center {
		justify-content: center;
	}

	&.justify-space-around {
		justify-content: space-around;
	}

	&.justify-space-between {
		justify-content: space-between;
	}

	&.justify-space-evenly {
		justify-content: space-between;
	}

	&.justify-stretch {
		justify-content: stretch;
	}

	&.align-start {
		align-items: flex-start;
	}

	&.align-end {
		align-items: flex-end;
	}

	&.align-center {
		align-items: center;
	}

	&.align-baseline {
		align-items: baseline;
	}

	&.align-stretch {
		align-items: stretch;
	}
}
