@import "../shared/vars.scss";

@mixin scrollview {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;

    content {
        line-height: 0;
        position: relative;
        display: inline-block;
        transition: top var(--scroll-view-transition), left var(--scroll-view-transition), width var(--scroll-view-transition), height var(--scroll-view-transition);
    }

    content.no-transition {
        transition: none;
    }
}